<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <button class="button button-clear" ng-click="closePlace()">
			<i class="icon ion-android-close"></i>
		</button>
    <div class="h1 title">Create Place</div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-avatar item-text-wrap b-none">
        <img src="img/ben.png" alt="">
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="location.title" placeholder="Location Title">
          </label>
          <label class="item item-input">
          <input type="text" ng-model="location.description" placeholder="Location Description">
        </label>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row row-nopadding">
      <div class="col-67">
        <button class="button button-icon ion-earth"></button>
        <button class="button button-icon ion-link"></button>
        <button class="button button-icon ion-camera" ng-click="takePhoto('Camera')"></button>
        <button class="button button-icon ion-image" ng-click="takePhoto('Library')"></button>
      </div>
      <div class="col-33 text-right">
        <button class="button button-outline button-calm">Share Place</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-modal-view>