<ion-modal-view class="bg-gradient">
  <ion-header-bar class="no-bg b-none">
    <h1 class="title"></h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeLogin()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="form_login" ng-submit="doLogin(userLogin)" novalidate>
        <div class="list card"> 
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="$parent.userLogin.username" id="user_name" placeholder="Email" focus-me>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="$parent.userLogin.password" id="user_pass" placeholder="Password">
            </label>
        </div>
        <button class="button button-block button-outline button-light" type="submit"><b>Sign in</b></button>
    </form>
    <div class="light row">
      <div class="col">
        Forgot password
      </div>
      <div class="col text-right">
        <a href="" class="light" ng-click="closeLogin(); openRegister()">Join Now</a>
      </div>
      </p>
  </ion-content>
</ion-modal-view>