<ion-modal-view class="bg-gradient">
  <ion-header-bar class="no-bg b-none">
    <h1 class="title"></h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeRegister()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="form_register" ng-submit="registerFbUserFirebase()">
    <h1>Complete Registration</h1>
    <div class="list card"> 
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="facebookUser.name" focus-me>
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="facebookUser.email">
      </label>
      <label class="item item-input">
      <span class="input-label">Password</span>
        <input type="password" ng-model="facebookUser.password">
      </label>
    </div>
    <p class="light text-center">
      By signing up, you agree to the <br>Terms of Service & Privacy Policy
    </p>

    <button type="submit" class="button button-block button-outline button-light"><b>Complete Registration</b></button>
</form>
    <p class="light text-center">
      Already have an account? <a href="" class="light" ng-click="closeRegisterFB(); openLogin()"><b>Sign in</b></a>
    </p>
  </ion-content>
</ion-modal-view>